md-toast.md-default-theme .md-toast-content, 
md-toast .md-toast-content {
  color: rgba(0,0,0,0.87);
  background-color: rgb(255,255,255)
}

md-menu-item .md-button.md-focused:not(:hover):focus {
	background-color: transparent;
}
