md-toast.md-default-theme .md-toast-content, 
md-toast .md-toast-content {
  color: rgba(0,0,0,0.87);
  background-color: rgb(255,255,255)
}

md-menu-item .md-button.md-focused:not(:hover):focus {
	background-color: transparent;
}

.such-progress-slider {
	position:absolute;
	top: -10px;
	width:100%;
	overflow:hidden;
	margin-left: 0;
}

md-slider.such-progress-slider .md-track-container {
	top: 10px;
	height:5px;
}

md-slider.such-progress-slider .md-thumb {
	top: 3px;
}

::-webkit-scrollbar
{
  width: 12px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.2);
  border-radius:2px;
}



svg{
display: block;
width: 100%;
height: 15vh;
bottom:0;
padding: 0;
margin: 0;
position:absolute;

}

path{
stroke-linecap: square;
stroke: white;
stroke-width: 3.5px;
}

